{% extends "../_layout/javascript.html" %}
{% block mainBody %}
    <section id="type" class="ui-section">
        <h1>占位符</h1>
        <!-- 占位符 -->
        <div class="section-content">
            <h3>
                <strong>占位符</strong>
            </h3>
            <div class="ui-example">
                <p class="description">
                    此插件是为了兼容<code>IE9-</code>浏览器不支持<code>placeholder</code>属性，为文本框创建<code>label</code>，<code>label</code>具体属性布局需在css定义
                </p>
                <strong>请在IE9-下查看</strong>
                <p class="description">
                    <input type="text" placeholder="请输入邮箱" class="form-control"/>
                </p>
            </div>
            <div class="ui-code">
                            <pre>
                                <code>
                                    &lt;input type="text" placeholder="请输入邮箱"&gt;
                                </code>
                            </pre>
            </div>
        </div>

    </section>

    <section id="type" class="ui-section">
        <h1>占位符</h1>
        <!-- 占位符 -->
        <div class="section-content">
            <h3>
                <strong>占位符</strong>
            </h3>
            <div class="ui-example">
                <p class="description">
                    此插件是为了兼容<code>IE9-</code>浏览器不支持<code>placeholder</code>属性，为文本框创建<code>label</code>，<code>label</code>具体属性布局需在css定义
                </p>
                <strong>请在IE9-下查看</strong>
                <p class="description">
                </p>
                <div class="form-group">
                    <label class="form-control-label" for="form-control-example8">
                        <b>
                            *
                        </b>
                                        <span>
                                            dropdown &amp; keyin
                                        </span>
                        <em>
                            ：
                        </em>
                    </label>
                    <div class="form-control-wrap">
                        <div class="form-control-dropdown with-keyin">
                                            <span class="form-control-dropdown-btn">
                                                <i></i>
                                            </span>
                            <input type="text" data-toggle="dropdown" class="form-control" id="form-control-example8" placeholder="请出入文字" value="">
                            <ul class="form-control-dropdown-menu">
                                <li title="option xxxxxx">
                                    option xxxxxxxxxxxxx
                                </li>
                                <li title="option one">
                                    option one
                                </li>
                                <li title="option two">
                                    option two
                                </li>
                                <li title="option three">
                                    option three
                                </li>
                                <li title="option four">
                                    option four
                                </li>
                                <li title="option five">
                                    option five
                                </li>
                                <li title="工商银行体育西分行">
                                    工商银行体育西分行
                                </li>
                                <li title="option five">
                                    工商银行广州总行 123
                                </li>
                                <li title="option five">
                                    工商银行广州总行
                                </li>
                                <li title="option five">
                                    工商银行广州总行 456
                                </li>
                                 <li title="option five">
                                    工商银行天河支行
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-code">
                            <pre>
                                <code>
                                    &lt;input type="text" placeholder="请输入邮箱"&gt;
                                </code>
                            </pre>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
<script src="{{dist}}/js/ui/placeholder.js"></script>
<script src="{{dist}}/js/ui/dropdown.js"></script>
<script>
    $(function(){
        setTimeout(function(){
            $('.form-control-dropdown-menu li').eq(1).trigger('click');
        }, 2000);
    })
</script>
{% endblock %}