{% extends "../_layout/javascript.html" %}
{% block mainBody %}
<style>
    pre{ white-space: pre-wrap; }
</style>
    <section id="type" class="ui-section">
        <h1>选项卡</h1>
        <!-- 概述用法 -->
        <div class="section-content">
            <h3>
                <strong>概述用法</strong>
            </h3>
            <div class="ui-example">
                <p class="description">
                    选项卡组件由一些并列的可点击选项卡标签组成。
                </p>
                <br/>
                <p>
                    由<code>.tabs-btn</code>类启动绑定或<code>data-toggle="tab"</code>绑定。<code>a</code>的锚点或<code>data-taget="#id"</code>对应内容项
                </p>
                <br/>
                <p>样式上控制参照UI规范</p>
                <br/>
                <div class="tabs-wrap type1">
                    <ul class="tabs">
                        <li class="active">
                            <a href="#ttp1" class="tabs-btn" aria-expanded="true">
                                tab one
                            </a>
                        </li>
                        <li class="">
                            <a href="#ttp2" class="tabs-btn" aria-expanded="false">
                                tab two
                            </a>
                        </li>
                        <li class="">
                            <a href="#ttp3" class="tabs-btn" aria-expanded="false">
                                tab three
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tabs-content">
                    <div class="tabs-panel active" id="ttp1">
                        tab one content
                    </div>
                    <div class="tabs-panel" id="ttp2">
                        tab two content
                    </div>
                    <div class="tabs-panel" id="ttp3">
                        tab three content
                    </div>
                </div>
            </div>
            <div class="ui-code">
<pre><code>&lt;ul class=&quot;tabs&quot;&gt;
        &lt;li class=&quot;active&quot;&gt;
            &lt;a href=&quot;#ttp1&quot; class=&quot;tabs-btn&quot; aria-expanded=&quot;true&quot;&gt;
            tab one
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;...&lt;/li&gt;
    &lt;/ul&gt;
</code></pre>
            </div>
        </div>

        <!-- 事件监听 -->
        <div class="section-content">
            <h3>
                <strong>事件监听</strong>
            </h3>
            <div class="ui-example">
                <br/>
                <p><code>show.ui.tab</code>监听弹层显示前</p>
                <br/>
                <p><code>hide.ui.tab</code>监听弹层关闭前</p>
                <br/>
                <p><code>shown.ui.tab</code>监听弹层显示后</p>
                <br/>
                <p><code>hiden.ui.tab</code>监听弹层显示后</p>
                <br/>
                <div class="tabs-wrap type1">
                    <ul class="tabs" id="j-tab-2">
                        <li class="active">
                            <a href="#tp1" class="tabs-btn" aria-expanded="true">
                                tab one
                            </a>
                        </li>
                        <li class="">
                            <a href="#tp2" class="tabs-btn" aria-expanded="false">
                                tab two
                            </a>
                        </li>
                        <li class="">
                            <a href="#tp3" class="tabs-btn" aria-expanded="false">
                                tab three
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tabs-content">
                    <div class="tabs-panel active" id="tp1">
                        tab one content
                    </div>
                    <div class="tabs-panel" id="tp2">
                        tab two content
                    </div>
                    <div class="tabs-panel" id="tp3">
                        tab three content
                    </div>
                </div>
            </div>

            <div class="ui-code">
<pre><code>$('#j-tab-2 .tabs-btn').on('show.ui.tab', function(){ alert('显示前show')})
$('#j-tab-2 .tabs-btn').on('shown.ui.tab', function(){ alert('显示后shown')})
$('#j-tab-2 .tabs-btn').on('hide.ui.tab', function(){ alert('关闭前hide')})
$('#j-tab-2 .tabs-btn').on('hidden.ui.tab', function(){ alert('关闭后hidden')})
</code></pre>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
<script src="{{dist}}/js/ui/tab.js"></script>
<script>
    $(function(){

        $('#j-tab-2 .tabs-btn').on('show.ui.tab', function(){ alert('显示前show')})
        $('#j-tab-2 .tabs-btn').on('shown.ui.tab', function(){ alert('显示后shown')})
        $('#j-tab-2 .tabs-btn').on('hide.ui.tab', function(){ alert('关闭前hide')})
        $('#j-tab-2 .tabs-btn').on('hidden.ui.tab', function(){ alert('关闭后hidden')})
    })
</script>
{% endblock %}